@import "tailwindcss";

@layer base {
    * {
        font-family: "Montserrat", sans-serif;
        box-sizing: border-box;
    }
}

html {
    -webkit-overflow-scrolling: touch;
}

.scroll-animation {
    animation: animation_scroll linear;
    animation-duration: 1s;
    animation-timeline: view();
    animation-range: entry 0% cover 100%;
}

@keyframes animation_scroll {
    from {
        opacity: 0;
        transform: translate(-150px);
    }
    to {
        opacity: 1;
        transform: translate(0px);
    }
}

.hero {
    background-image: url(/public/fundo-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.container-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 17rem;
}

.textRoot {
    color: black;
}

.textRoot:hover {
    color: rgb(158, 117, 90);
}

.degrade {
    background-image: url(/public/degrade.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}



/* loading */

.global-skeleton-layer {
  position: fixed; /* FIXO NA TELA */
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  pointer-events: none;
}

/* BLOCO DO SKELETON */
.skeleton-box {
  position: absolute;
  background: #e0e0e0; /* cor do bloco */
  border-radius: 4px;
  overflow: hidden;
}

.elemento-sem-scroll {
  /* 1. Oculta a barra de rolagem padrão (apenas o trilho/track, mas mantém a funcionalidade de rolagem na maioria dos navegadores) */
  overflow: hidden; 

  /* 2. Código Específico para Chrome, Safari e Opera */
  -ms-overflow-style: none; /* Não-padrão para IE e Edge */
  scrollbar-width: none; /* Firefox */
}

/* 3. Oculta a barra de rolagem real (track) para Webkit (Chrome, Safari) */
.elemento-sem-scroll::-webkit-scrollbar {
  display: none;
}

/* efeito shimmer */
.shimmer::after {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    90deg,
    transparent,
    rgba(72, 71, 71, 0.5),
    transparent
  );
  animation: shimmer 1.2s infinite ;
}

@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}


/* From Uiverse.io by satyamchaudharydev */ 
.spinner {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: -75px;
}

.spinner span {
  position: absolute;
  top: 50%;
  left: var(--left);
  width: 65px;
  height: 12px;
  background: #9f9d9d;
  animation: dominos 3s ease infinite;
  box-shadow: 2px 2px 3px 0px rgb(85, 84, 84);
}

.spinner span:nth-child(1) {
  --left: 80px;
  animation-delay: 0.125s;
}

.spinner span:nth-child(2) {
  --left: 70px;
  animation-delay: 0.3s;
}

.spinner span:nth-child(3) {
  left: 60px;
  animation-delay: 0.425s;
}

.spinner span:nth-child(4) {
  animation-delay: 0.54s;
  left: 50px;
}

.spinner span:nth-child(5) {
  animation-delay: 0.665s;
  left: 40px;
}

.spinner span:nth-child(6) {
  animation-delay: 0.79s;
  left: 30px;
}

.spinner span:nth-child(7) {
  animation-delay: 0.915s;
  left: 20px;
}

.spinner span:nth-child(8) {
  left: 10px;
}

@keyframes dominos {
  50% {
    opacity: 0.7;
  }

  75% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  80% {
    opacity: 1;
  }
}

