@import "tailwindcss";

@layer base {
    * {
        font-family: "Montserrat", sans-serif;
        box-sizing: border-box;
    }
}

html {
    -webkit-overflow-scrolling: touch;
}

.scroll-animation {
    animation: animation_scroll linear;
    animation-duration: 1s;
    animation-timeline: view();
    animation-range: entry 0% cover 100%;
}

@keyframes nav-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
    
}

.nav-up {
    animation: nav-up 1.5s ease;
}


@keyframes fadeIn {
    /* 0% (Início da animação) */
    from {
        opacity: 0;
       
    }
    /* 100% (Fim da animação) */
    to {
        opacity: 1;
    }
}


@keyframes custom-bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(3px); } /* Aumente este valor para descer mais */
}
.animate-custom-bounce {
  animation: custom-bounce 1.5s infinite ease ;
}


@keyframes custom-arrows {
  0% { transform: translateY(0); opacity: 0;}
  30% { transform: translateY(9px); opacity: 1;}
  100% { transform: translateY(25px); opacity: 0;}
}

.animate-custom-arrows {
  animation: custom-arrows 1.5s infinite ease-in-out; ;
}



/* Aplicação da Classe 'animate-fade-in' */
.animate-fade-in {
    animation: fadeIn 0.8s ease-out ;
}


@keyframes animation_scroll {
    from {
        opacity: 0;
        transform: translate(-150px);
    }
    to {
        opacity: 1;
        transform: translate(0px);
    }
}

.hero {
    background-image: url(/public/fundo-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.container-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 17rem;
}

.textRoot {
    color: black;
}

.textRoot:hover {
    color: rgb(158, 117, 90);
}

.degrade {
    background-image: url(/public/degrade.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
