@import "tailwindcss";

@layer base {
    * {
        font-family: "Montserrat", sans-serif;
        box-sizing: border-box;
    }
}

html {
    -webkit-overflow-scrolling: touch;
}

body {
    cursor: none;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;             /* ajuste o tamanho conforme desejado */
  height: 20px;
  background-color: #000;  /* cor do cursor personalizado */
  border-radius: 50%;      
  pointer-events: none;    /* permite clicar nos elementos abaixo */
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: background-color 0.15s ease; /* efeito suave em mudanças de estilo */
}

@keyframes text-decoration {
    0% {
        transform: translateX(0);
        text-decoration: chocolate solid;
        text-underline-offset: 8px;

        text-decoration-line: underline;
    }
    100% {
        transform: translateX(100%);
        text-decoration: chocolate solid;
        text-underline-offset: 8px;

        text-decoration-line: underline;
    }
}

.text-dect {
    animation: text-decoration 1.5s ease;
}


.link-glow {
    position: relative;
    display: inline-block;
}

/* Linha base */
.link-glow::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%);
    width: 0%;
    height: 1px;
    background-color: currentColor;
    border-radius: 999px;

    /* Glow */
    box-shadow:
        0 0 2px currentColor,
        0 0 12px currentColor;

    transition:
        width 0.18s ease-out,
        box-shadow 0.25s ease-out;

    transition-delay: var(--delay, 0ms);
}

/* Hover */
.link-glow:hover::after {
    width: 100%;
}


@keyframes nav-up {
    0% {
        transform: translateY(26%);
    }
    50% {
        transform: translateY(46%);
    }
    100% {
        transform: translateY(0);
    }
}

.nav-up {
    animation: nav-up 1.5s ease;
}

@keyframes nav-padrao {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.nav-padrao {
    animation: nav-padrao;
}

@keyframes fadeIn {
    /* 0% (Início da animação) */
    from {
        opacity: 0;
    }
    /* 100% (Fim da animação) */
    to {
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fadeIn 0.8s ease-out;
}

@keyframes custom-bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(3px);
    } /* Aumente este valor para descer mais */
}
.animate-custom-bounce {
    animation: custom-bounce 1.5s infinite ease;
}

@keyframes animation_scroll {
    from {
        opacity: 0;
        transform: translate(-150px);
    }
    to {
        opacity: 1;
        transform: translate(0px);
    }
}

.scroll-animation {
    animation: animation_scroll linear;
    animation-duration: 1s;
    animation-timeline: view();
    animation-range: entry 0% cover 100%;
}

.hero {
    background-image: url(/public/fundo-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.container-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 17rem;
}

.textRoot:hover {
    color: rgb(158, 117, 90);
}

.degrade {
    background-image: url(/public/degrade.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
